<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{% block title %}Welcome to STU fleamarket!{% endblock %}</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/css/category.css">
      <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
      <link rel="stylesheet" type="text/css" href="/static/css/search.css">

    <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">-->
      <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">-->
      <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.css">-->
      <!--<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.min.css">-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">STU Flea Market</a>


        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
               <li>
                   <div class="search-box-wr ease2">
                    <form class="search-box center" action="{% url 'search' %}" method="get">
                        <button type="submit" class="search-submit">搜索</button>
                        <div class="input-wr">
                            <img class="search-icon" src="{% static 'images/search.png' %}"/>
                            <div class="search-input">
                            <input name="keyword" id="keyword" x-webkit-speech type="text" placeholder="搜索你想要的二货"/>
                            </div>
                        </div>
                    </form>
                   </div>
               </li>

                <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        {% if message_unread == 0 %}
                            <li><a href="{% url 'message' %}">Message<span class="badge"></span></a></li>
                        {% else %}
                            <li><a href="{% url 'message' %}">Message<span class="badge">{{ message_unread }}</span></a></li>
                        {% endif %}

                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'logout' %}?next=/rango/">Logout</a></li>
                        <li><a href=""><img src='{{ user_profile.avatar.url }}' style="width: 30px;height: 30px;" /></a> </li>
                        <li><a href="{% url 'profile' user.pk %}" >{{ user_profile.user.username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Register Here</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
              </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
                {% block side_block %}
                {% load rango_extras %}
                {% get_category_list category %}
                {% endblock %}
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-7 col-md-offset-2 main">
           <div>
                {% block body_block %}{% endblock %}
                </div>
        </div>


        <div class="col-sm-2 col-sm-offset-10 col-md-3 col-md-offset-9 sidebar">
           <div>
                 {% block right_block %}{% endblock %}
            </div>
        </div>


      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>