<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>FleaMarket</title>
    </head>

    <body>

        <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
        <form class="form-signin" role="form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
        <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Sign in</button>
        <a href="{% url 'register' %}">Register Here</a>
        </form>

    </body>
</html>